<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mao.mapper.sys.LogMapper">

    <!-- save log data -->
    <insert id="saveLog" parameterType="com.mao.entity.sys.log.Log">
        INSERT INTO sys_log(`id`,`user_id`,`user_login`,`user_role`,`account_ip`,
        `request_url`,`process_name`,`process_type`,`process_access`,`process_date`)
        VALUE(#{id},#{user_id},#{user_login},#{user_role},#{account_ip},#{request_url},
        #{process_name},#{process_type},#{process_access},#{process_date})
    </insert>

    <!-- save login log data -->
    <insert id="saveLoginLog" parameterType="com.mao.entity.sys.log.LoginLog">
        INSERT INTO sys_login_log(`id`,`user_id`,`user_login`,`account_ip`,
        `account_address`,`login_type`,`login_date`)
        VALUE(#{id},#{user_id},#{user_login},#{account_ip},#{account_address},
        #{login_type},#{login_date})
    </insert>

    <!-- search logs data -->
    <select id="getLogs" parameterType="com.mao.entity.sys.log.LogParam"
            resultType="com.mao.entity.sys.log.Log">
        SELECT `id`,`user_id`,`user_login`,`user_role`,`account_ip`,`request_url`,
        `process_name`,`data_type`,`process_type`,`process_access`,`process_date`
        FROM sys_log WHERE `id` > 0
        <if test="user_id != null and user_id > 0">
            AND `user_id` = #{user_id}
        </if>
        <if test="data_type != null and data_type != ''">
            AND data_type = #{data_type}
        </if>
        <if test="process_type != null and process_type != ''">
            AND process_type = #{process_type}
        </if>
        <if test="process_access != null">
            AND process_access = #{process_access}
        </if>
        <if test="start_time != null and start_time > 0">
            AND process_date &gt;= #{start_time}
        </if>
        <if test="end_time != null and end_time > 0">
            AND process_date &lt;= #{end_time}
        </if>
        ORDER BY `process_date` DESC LIMIT #{page},#{limit}
    </select>

    <!-- search log total page -->
    <select id="getLogTotalPage" parameterType="com.mao.entity.sys.log.LogParam" resultType="java.lang.Long">
        SELECT COUNT(`id`) FROM sys_log WHERE `id` > 0
        <if test="user_id != null and user_id > 0">
            AND `user_id` = #{user_id}
        </if>
        <if test="data_type != null and data_type != ''">
            AND data_type = #{data_type}
        </if>
        <if test="process_type != null and process_type != ''">
            AND process_type = #{process_type}
        </if>
        <if test="process_access != null">
            AND process_access = #{process_access}
        </if>
        <if test="start_time != null and start_time > 0">
            AND process_date &gt;= #{start_time}
        </if>
        <if test="end_time != null and end_time > 0">
            AND process_date &lt;= #{end_time}
        </if>
    </select>

    <!-- search login logs data-->
    <select id="getLoginLogs" parameterType="com.mao.entity.sys.log.LoginLogParam"
            resultType="com.mao.entity.sys.log.LoginLog">
        SELECT `id`,`user_id`,`user_login`,`account_ip`,`account_address`,`login_type`,`login_date`
        FROM sys_login_log WHERE `id` > 0
        <if test="user_id != null and user_id > 0">
            AND `user_id` = #{user_id}
        </if>
        <if test="login_type != null and login_type != ''">
            AND login_type = #{login_type}
        </if>
        <if test="start_time != null and start_time > 0">
            AND login_date &gt;= #{start_time}
        </if>
        <if test="end_time != null and end_time > 0">
            AND login_date &lt;= #{end_time}
        </if>
        ORDER BY `login_date` DESC LIMIT #{page},#{limit}
    </select>

    <!-- search login log total page -->
    <select id="getLoginLogTotalPage" parameterType="com.mao.entity.sys.log.LoginLogParam"
            resultType="java.lang.Long">
        SELECT COUNT(`id`) FROM sys_login_log WHERE `id` > 0
        <if test="user_id != null and user_id > 0">
            AND `user_id` = #{user_id}
        </if>
        <if test="login_type != null and login_type != ''">
            AND login_type = #{login_type}
        </if>
        <if test="start_time != null and start_time > 0">
            AND login_date &gt;= #{start_time}
        </if>
        <if test="end_time != null and end_time > 0">
            AND login_date &lt;= #{end_time}
        </if>
    </select>

    <!-- save email log data -->
    <insert id="saveEmailLog" parameterType="com.mao.entity.sys.log.EmailLog">
        INSERT INTO sys_email_log(`id`,`email`,`type`,`success`,`date`)
        VALUE(#{id},#{email},#{type},#{success},#{date})
    </insert>

    <!-- search email logs data-->
    <select id="getEmailLogs" parameterType="com.mao.entity.sys.log.EmailLogParam"
            resultType="com.mao.entity.sys.log.EmailLog">
        SELECT `id`,`email`,`type`,`success`,`date`
        FROM sys_email_log WHERE `id` > 0
        <if test="email != null and email != ''">
            AND LOCATE(#{email},`email`) > 0
        </if>
        <if test="type != null and type != ''">
            AND `type` = #{type}
        </if>
        <if test="success != null">
            AND `success` = #{success}
        </if>
        <if test="start_time != null and start_time > 0">
            AND `date` &gt;= #{start_time}
        </if>
        <if test="end_time != null and end_time > 0">
            AND `date` &lt;= #{end_time}
        </if>
        ORDER BY `date` DESC LIMIT #{page},#{limit}
    </select>

    <!-- search email log total page -->
    <select id="getEmailLogTotalPage" parameterType="com.mao.entity.sys.log.EmailLogParam"
            resultType="java.lang.Long">
        SELECT COUNT(`id`)
        FROM sys_email_log WHERE `id` > 0
        <if test="email != null and email != ''">
            AND LOCATE(#{email},`email`) > 0
        </if>
        <if test="type != null and type != ''">
            AND `type` = #{type}
        </if>
        <if test="success != null">
            AND `success` = #{success}
        </if>
        <if test="start_time != null and start_time > 0">
            AND `date` &gt;= #{start_time}
        </if>
        <if test="end_time != null and end_time > 0">
            AND `date` &lt;= #{end_time}
        </if>
    </select>

</mapper>