<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mao.mapper.sys.LogMapper">

    <!-- save log data -->
    <insert id="saveLog" parameterType="com.mao.entity.sys.Log">
        INSERT INTO sys_log(`id`,`user_id`,`user_login`,`user_role`,`account_ip`,
        `request_url`,`process_name`,`process_type`,`process_access`,`process_date`)
        VALUE(#{id},#{user_id},#{user_login},#{user_role},#{account_ip},#{request_url},
        #{process_name},#{process_type},#{process_access},#{process_date})
    </insert>

    <!-- save login log data -->
    <insert id="saveLoginLog" parameterType="com.mao.entity.sys.LoginLog">
        INSERT INTO sys_login_log(`id`,`user_id`,`user_login`,`account_ip`,
        `account_address`,`login_type`,`login_date`)
        VALUE(#{id},#{user_id},#{user_login},#{account_ip},#{account_address},
        #{login_type},#{login_date})
    </insert>

    <!-- search logs data -->
    <select id="getLogs" parameterType="com.mao.entity.sys.LogParam"
            resultType="com.mao.entity.sys.Log">
        SELECT `id`,`user_id`,`user_login`,`user_role`,`account_ip`,`request_url`,
        `process_name`,`data_type`,`process_type`,`process_access`,`process_date`
        FROM sys_log WHERE `id` > 0
        <if test="user_id != null and user_id > 0">
            AND `user_id` = #{user_id}
        </if>
        <if test="data_type != null and data_type != ''">
            AND data_type = #{data_type}
        </if>
        <if test="process_type != null and process_type != ''">
            AND process_type = #{process_type}
        </if>
        <if test="process_access != null">
            AND process_access = #{process_access}
        </if>
        <if test="start_time != null and start_time > 0">
            AND process_date &gt;= #{start_time}
        </if>
        <if test="end_time != null and end_time > 0">
            AND process_date &lt;= #{end_time}
        </if>
        ORDER BY `process_date` DESC LIMIT #{limit}
    </select>

</mapper>