html{
    min-width: 1220px;
    overflow-x: auto;
    position: relative;
    height: 100%;
    font-size: 13px;
    display: block;
}
body{
    margin: 0;
    padding: 0;
    font-family: Roboto,San Francisco,Helvetica Neue,Helvetica,Arial,PingFangSC-Light,Hiragina Sans GB,WenQuanYi Micro Hei,microsoft yahei ui,microsoft yahei,sans-serif;
    font-size: 13px;
    line-height: 1.5;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    min-width: 1220px;
    color: #bbbbbb;
}
a{
    text-decoration: none;
    color: #bbbbbb;
}
body, button, table, dd, dl, dt, h1, h2, h3, h4, input, textarea, ul, li, ol, p, select {
    margin: 0;
    padding: 0;
}
button{
    outline: none;
}
li{
    list-style: none;
}
input::-webkit-input-placeholder {
    color: #aaaaaa;
}
input::-ms-input-placeholder {
    color: #aaaaaa;
}


/* some span-icon button icon */
span.ky-icon-green,span.ky-icon-red,span.ky-icon-gray,span.ky-icon-orange{
    padding: 2px 4px;
    border-radius: 4px;
    color: #ffffff !important;
    margin: 0 4px;
}
span.ky-icon-green{
    background-color: #288930;
}
span.ky-icon-red{
    background-color: #da5d2c;
}
span.ky-icon-orange{
    background-color: #be7b00;
}
span.ky-icon-gray{
    background-color: #808080;
}
a.ky-icon-green,a.ky-icon-red,a.ky-icon-gray,a.ky-icon-orange{
    padding: 4px 6px;
    color: #ffffff !important;
    margin: 0 4px;
}
a.ky-icon-green{
    background-color: #288930;
}
a.ky-icon-green:hover{
    background-color: #2e9c37;
}
a.ky-icon-red{
    background-color: #da5d2c;
}
a.ky-icon-red:hover{
    background-color: #ed6530;
}
a.ky-icon-orange{
    background-color: #be7b00;
}
a.ky-icon-orange:hover{
    background-color: #d68b00;
}
a.ky-icon-gray{
    background-color: #808080;
}
a.ky-icon-gray:hover{
    background-color: #919191;
}


/* top header */
.ky-header-nav{
    height: 50px;
    background-color: #262626;
    box-sizing: border-box;
    width: 100%;
    display: table;
    color: #bbbbbb;
}
.ky-header-nav ul{
    margin: 0;
    padding: 0;
    height: 50px;
}
.ky-header-nav li{
    display: inline-block;
    height: 50px;
    vertical-align: top;
}
.ky-header-logo{
    height: 50px;
    width: 100px;
    border-right: 1px solid #000000;
}
.ky-header-logo img{
    height: 50px;
    width: 100px;
}
.ky-header-fast-btn,.ky-header-user{
    height: 50px;
    line-height: 50px;
    min-width: 40px;
    padding: 0 10px;
    text-align: center;
    position: relative;
}
.ky-header-fast-btn i{
    margin-left: 5px;
}
.ky-header-fun{
    position: absolute;
    top: 50px;
    left: 0;
    min-height: 200px;
    width: 800px;
    background-color: #000000;
    z-index: 10;
    overflow-y: auto;
    display: none;
    padding: 20px 40px;
}
.ky-header-fun-search{
    width: 60%;
    position: relative;
}
.ky-header-fun-search input{
    box-sizing: border-box;
    width: 100%;
    height: 28px;
    line-height: 28px;
    border: 1px solid #888;
    background-color: #1a1a1a;
    outline: 0;
    color: #fff;
    padding-left: 10px;
    padding-right: 34px;
}
.ky-header-fun-search button{
    position: absolute;
    background-color: #1a1a1a;
    width: 34px;
    height: 26px;
    top: 12px;
    right: 1px;
    outline: 0;
    cursor: pointer;
    border: none;
    font-size: 18px;
    color: #bbbbbb;
}
.ky-header-fast-btn:hover .ky-header-fun{
    display: block;
}
.ky-header-user{
    float: right;
}
.ky-header-user i{
    font-size: 14px;
}
.ky-header-user span{
    font-size: 12px;
    margin-left: 5px;
}
.ky-header-user .ky-header-user-logo{
    font-size: 20px;
}
.ky-header-user ul{
    height: auto;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 10;
    width: 160px;
    background-color: #000000;
    display: none;
    transition: all .3s;
    font-size: 12px;
}
.ky-header-user li{
    display: block;
    text-align: left;
}
.ky-header-user li.ky-header-user-li1{
    height: 38px !important;
}
.ky-header-user li.ky-header-user-li2{
    height: 50px !important;
    border-top: 1px solid #333333;
    margin-top: 10px;
}
.ky-header-user li.ky-header-user-li2 button{
    outline: none;
    background-color: #000000;
    color: #bbbbbb;
    margin-left: 20px;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
}
.ky-header-user li.ky-header-user-li2 button:hover{
    background-color: #333333;
}
.ky-header-user li.ky-header-user-li2 button:active,.ky-header-user li.ky-header-user-li2 button:hover{
    outline: none;
}
.ky-header-user li a{
    display: block;
}
.ky-header-user li a i{
    margin-left: 20px;
}
.ky-header-user li a:hover span{
    color: #006eff;
}
.ky-header-fast-btn a:hover{
    color: #006eff;
}
.ky-header-user:hover .ky-header-user-logo,.ky-header-user:hover #username{
    color: #006eff;
}
.ky-header-user:hover ul{
    display: block;
}
.ky-header-fast-btn a,.ky-header-tool a{
    display: block;
}
.ky-header-tool{
    float: right;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
}
.ky-header-tool:hover{
    background-color: #444444;
}

/* sidebar */
.ky-sidebar{
    position: relative;
    width: 200px;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    background-color: #333333;
    overflow-x: hidden;
    transition: width .3s;
    z-index: 8;
}
.ky-sidebar .ky-sidebar-headline{
    line-height: 50px;
    height: 50px;
    width: 200px;
    color: #ffffff;
    box-sizing: border-box;
    /*border-bottom: 1px solid #2b2b2b;*/
    padding: 0 20px 0 24px;
}
.ky-sidebar .ky-sidebar-headline i{
    font-size: 20px;
}
.ky-sidebar-hold{
    line-height: 50px;
    height: 50px;
    width: 200px;
    color: #bbbbbb;
    position: absolute;
    overflow: hidden;
    border-right: none;
    z-index: 8;
    bottom: 50px;
    left: 0;
    right: 0;
    border-top: 1px solid #2b2b2b;
}
.ky-sidebar-hold i{
    border: 1px solid #333333;
    border-radius: 36px;
    background-size: auto;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    left: 20px;
    top: 18px;
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
}
.ky-sidebar-hold i:hover{
    background-color: #4d4d4d;
    border: 1px solid #4d4d4d;
}
.ky-sidebar-menu{
    overflow: auto;
    position: absolute;
    width: 100%;
    top: 50px;
    bottom: 50px;
    padding-top: 10px;
    margin-bottom: 52px;
    overflow-x: hidden;
}
.ky-sidebar-menu > li{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    height: 38px;
    line-height: 38px;
    overflow: hidden;
}
.ky-sidebar-menu-span-active,.ky-sidebar-menu-i-active{
    display: none !important;
}
.ky-sidebar-menu > li:hover,.ky-sidebar-menu > li.ky-sidebar-menu-active{
    background-color: #444444;
}
.ky-sidebar-menu a{
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: #bbbbbb;
}
.ky-sidebar-menu a i{
    margin-left: 26px;
    font-size: 18px;
}
.ky-sidebar-menu a span{
    margin-left: 10px;
}
/* 菜单栏的滚动，功能块的滚动 */
.ky-sidebar-menu::-webkit-scrollbar, .ky-header-fun::-webkit-scrollbar {
    width: 17px;
    height: 17px;
    background-color: transparent;
    border-radius: 9px;
}
.ky-sidebar-menu::-webkit-scrollbar-thumb, .ky-header-fun::-webkit-scrollbar-thumb {
    background-color: #262626;
    border-radius: 9px;
    background-clip: content-box;
    border: 5px solid transparent;
}

/* container */
.ky-container{
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 200px;
    background-color: #f2f2f2;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all .3s;
}
.ky-container-header{
    height: 50px;
    box-sizing: border-box;
    line-height: 50px;
    padding: 0 20px;
    border-bottom: 1px solid #d3d3d3;
    background-color: #ffffff;
}
.ky-container-header-nav span{
    font-size: 16px;
    color: #888888;
    font-weight: 600;
}
.ky-container-header-nav a{
    font-size: 14px;
    color: #333333;
    font-weight: 600;
}
.ky-container-header-nav a:hover{
    color: #006eff;
}
.ky-container-header-nav .ky-container-header-nav-back{
    margin-right: 5px;
    padding: 4px 6px;
    border-radius: 4px;
}
.ky-container-header-nav .ky-container-header-nav-back:hover{
    background-color: #006eff;
    color: #ffffff;
}
.ky-main{
    padding: 10px;
}
.ky-main-search-box{
    margin: 15px 0;
    display: flex !important;
}
.ky-main-search-box button{
    float: right;
    width: 50px;
    height: 32px;
    margin-top: 3px;
}
.ky-main-search-item{
    width: 210px;
    height: 34px;
    padding: 3px 10px;
}
.ky-main-search-item input{
    width: 200px;
    height: 28px;
    padding-left: 5px;
}
.ky-main-search-item select{
    width: 200px;
    height: 32px;
    padding-left: 5px;
}
.ky-data-table{
    margin: 15px 0;
    border: 1px solid #999999;
    width: 100%;
    color: #333333;
}
.ky-data-table tr{
    border-bottom: 1px solid #999999;
}
.ky-data-table th{
    background-color: #c0daee;
    text-align: left;
}
.ky-data-table td,.ky-data-table th{
    height: 30px;
    padding-left: 5px;
}
.ky-data-table .ky-data-tr-one{
    background-color: #ffffff;
}
.ky-data-table .ky-data-tr-two{
    background-color: #efefef;
}

/* page */
#ky-page{
    margin-bottom: 15px;
}
#ky-page a{
    margin: 0 5px;
    display: inline-block;
    padding: 0 8px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    color: #333333;
    border: .05rem solid #333;
}
#ky-page span{
    margin: 0 5px;
    display: inline-block;
    padding: 0 8px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    color: #ffffff;
    border: .05rem solid #999999;
    background-color: #999999;
}
#ky-page label{
    color: #333333;
    font-size: 12px;
}
#ky-page #limitSelect{
    height: 24px;
    margin-right: 20px;
    width: 50px;
}
#pageShow{
    float: right;
    margin-right: 15px;
}
#pageShow strong{
    color: #333333;
}