<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2"/>
    <title></title>
    <link rel="icon" type="image/x-icon" th:href="@{/static/favicon.ico}">
    <!--<link rel="stylesheet" th:href="@{/static/css/global-keep-younger.ui.css}">
    <link rel="stylesheet" th:href="@{/static/font-awesome-4.7.0/css/font-awesome.min.css}">-->
    <link rel="stylesheet" href="../static/css/global-keep-younger.ui.css">
    <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.css">
</head>

<body>
    <div class="ky-header-nav">KEEP YOUNGER</div>
    <div class="ky-sidebar">
        <h2 class="ky-sidebar-headline">用户管理</h2>
        <ul class="ky-sidebar-menu">
            <li>
                <a href="#"><i class="fa fa-user"></i><span>用户管理</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-user"></i><span>用户管理</span></a>
            </li>
        </ul>
        <div class="ky-sidebar-hold">
            <i class="fa fa-navicon"></i>
        </div>
    </div>
    <div class="ky-container">
        <div class="ky-container-header"></div>
        <div class="ky-main">
            <h1>HELLO WORLD</h1><h1>HELLO WORLD</h1><h1>HELLO WORLD</h1><h1>HELLO WORLD</h1><h1>HELLO WORLD</h1>
            <h1>HELLO WORLD</h1><h1>HELLO WORLD</h1><h1>HELLO WORLD</h1><h1>HELLO WORLD</h1><h1>HELLO WORLD</h1>
        </div>
    </div>
</body>

</html>